* {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
   }
body {
            font-family: Arial, Helvetica, sans-serif;
            background: #e8e8e8;
     }
a {
            color: #ffffff;
            text-decoration: none; /* Para eliminar el subrayado por defecto de los enlaces */
  }
  
/* HEADER */

.navbar{
  background-color: rgb(1,17,40) !important; /*important es para que de prioridad*/
  color: white !important;  
  
}

.navbar-toggler:hover {
  background: rgb(66, 66, 66) !important;
}

.navbar-text{
  color: white !important;
}

.navbar-link{
  color: white !important;
}

.nav-item{
  color:white;
}

.menu {
  list-style: none;
  font-size: medium;
  font-weight: 600;            
  padding: 10px 0;
  background: rgb(1,17,40);
  width: 100%;
  max-width: 1000;
  margin: auto;           
  display: block;
  text-decoration: none;    
  color: white !important;
} 

.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
  
}
.menu li {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}
.menu li a:hover{
  color:rgb(66, 66, 66)
  
}
.inicio {           
  float: right;
  text-decoration: none;
  color: white !important;
}

/* JUMBO */
.jumbotron {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  grid-gap: 25px;
  background-color:rgb(1,17,40);
  height: 532px;
  }      
   .izqjumbo {
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    justify-content:center;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    align-content: center;
    }    
    .titlejumbotext {
      display: grid;
      font-size: 3vw;
      font-weight: 800;
      align-items: end;
      margin-top: 30px;
      padding-top: 30px;
      color: #ffffff;
      margin-left: 150px;
     }

     .formjumbo{
      display: grid;
      align-items: center;
      grid-template-rows: 1fr 0,5fr;
      }
      form {
        display: grid;
        grid-gap:15px;
        height: 80px;
        width: auto;
        align-items: center;
        margin-left: 150px;
       }
       button {
        font-family: Quicksand;
        font-weight: 600;
        background-color: rgb(237, 232, 221);
        color: #333;
        border: none;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.7s;
        }     
        button:hover {
          background-color: rgb(236, 210, 152);
        }
        button:active {
          opacity: 0.7;
        }
       .emailform {
        font-family: Quicksand;
        background-color: #ffffff;
        border: none;
        height: 50px;
        width: auto;
        border-radius: 8px;
        align-self: center;
       }
     .jumbosubtext {
      display: grid;
      font-family: Cinzel;
      font-size: 3vw;
      font-weight: 800;
      line-height: 150%;
      }
   .derjumbo {
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: auto;
    }
     .imgderjumbo {
      height: 511px;
      width: 100%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      box-shadow: 10px 10px 10px rgba(40, 40, 40, 0.2);
      object-fit: cover;
    }

/* TENEMOS MÚLTIPLES ALTERNATIVAS */
.presentacion {
  display: block;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  }
  h2 {
    font-size: 2.5vw;
   }
  .textopresentacion {
    font-size: 1.5vw;
   }

/* RAZAS */

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  place-items: center;    
  }
   .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(40, 40, 40, 0.2);
    border-radius: 30px;
    padding-bottom: 20px;
    transition: transform 0.6s;
    }
    .product:hover {
    transform: scale(1.05);
    }
    .productimg {
      width: 100%;
      max-width: 400px;
      height: auto;
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      margin-bottom: 20px;
     }
     .productext {
      font-family: Quicksand;
      max-width: 300px;
      text-align: center;
      margin-right: 15px;
      margin-left: 15px;
     }
     .vermas {
      display: flex;
      justify-content: center; 
      height: 100%;
      margin: 50px;
      }
      .botonvermas {
        font-family: Quicksand;
        font-weight: 600;
        font-size: 1.5vw;
        background-color: rgb(241, 238, 231);
        color: #333;
        height: 4vw;
        width: 15vw;
        cursor: pointer;
       }

/* PREMIOS */
h5 {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: 3.7vw;
  margin-bottom: 0;
  font-size: 2vw;
}

.testimoniocontainer {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 50px;
          padding: 40px;
          justify-content: space-around;
         }
         .testiside{
          display: grid;
          grid-template-rows: 1fr;
          grid-gap: 30px;
         }
         .testi{
          display: grid;
          grid-template-columns: 3fr 1fr; 
          height: 17vw;
          border-radius: 25px;
          border: 1px solid rgb(224, 224, 224);
          box-shadow: 10px 10px 10px rgba(40, 40, 40, 0.2);
          padding: 20px;
          grid-gap: 30px; 
          transition: transform 0.7s;
         }
         .testi:hover{
          transform: scale(1.03);
           }
         .testimage{
          max-width: 12vw;
          max-height: auto;
          align-self: center;
          border-radius: 90px;
          box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.2);
         }
         .testitext{
          font-size: 1.2vw;
          text-align: right;
          align-self: center;
          margin: 0px;
         }

/* FOOTER */
footer {  
  font-family: Quicksand;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #000000;
  padding: 20px;
  grid-gap: 40px;
  }
  .footmenu {
      display: grid;
      justify-content: center;
      justify-items: center;
      margin-right: 10px;}

.foothelp{
          margin-right: 20px;}

   ul{
    font-family: Quicksand;
    height: 100%;
    width: 100%;
    line-height: 30px;
    }

   h3{
    margin: 0%;
   }

   .footcontact {
    display: grid;
    grid-template-rows: 1fr 0.2fr 1fr;
    grid-gap: 10px;
    padding-top: 1px;
    margin-left: 15px;
    }

    .rrss {
      display: grid;
      grid-template-columns: 0.10fr 0.10fr 0.10fr;
      justify-content: left;
      gap: 15px;
      }
      .rrssico {
        display: grid;
        width: 4vw;
        height: auto;
        object-fit: cover;}
       
/*-------------------------------------------------------------------*/

/* Media query para dispositivos móviles, de 0 a 800px de a */
@media screen and (max-width: 840px) {
  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
}
a {
    color: #ffffff;
    text-decoration: none; /* Para eliminar el subrayado por defecto de los enlaces */
  }

/* HEADER */

.navbar-toggler {
line-height: 1;
color: rgb( 248 246 250 ) !important;
background-color:rgb(111, 111, 194);
}

.navbar-toggler:hover {
  background: rgb(86, 86, 197) !important;
}
  
.menu {
  list-style: none;
  font-size: medium;
  font-weight: 600;            
  padding: 10px 0;
  background: rgb(1,17,40);
  width: 100%;
  max-width: 1000;
  margin: auto;           
  display: block;
} 

.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;    
}
.menu li {
  display: inline-block;
  text-align: center;
  margin-left: 20px;
}
.menu li a:hover{
  color:rgb(66, 66, 66)
}
.inicio {           
  float: right;
  text-decoration: none;
}


/* JUMBO */
.jumbotron {
      height: 700px;
      grid-template-columns: 1fr; 
      grid-template-rows: 270px 370px;
      grid-gap: 15px; 
      padding: 20px;
     }

     .izqjumbo {
      height: 150px;
      grid-gap: 15px; 
      margin-top: 15px;
      width: 600px;
      
      }
      
      .titlejumbotext {
        font-size: 4vw;
        text-align: left; 
        letter-spacing: 2px;
        margin-left: 150px;
       }

.formjumbo {
        grid-template-rows: auto auto;
        
       }
      .jumbosubtext{
        text-align: center;
        margin-top: 10px;
        font-size: 3.5vw;
        letter-spacing: 2px;
        line-height: 5vw;
       }
       
    .derjumbo {
      display: grid;
      
      }
      .imgderjumbo {
       width: 100%;
       height: 85%;
       object-position: top;
        border-radius: 30px;
        contain: content;
       }
       
       .presentacion {
        display: grid;
        background-color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 12px;
        }
        h2 {
          font-size: 4vw;
        }
       .textopresentacion {
          font-size: 3vw;
        }

 /* RAZAS */
.product-container {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-gap: 20px;
   padding: 20px;
   place-items: center;    
   }
   .product {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     box-shadow: 10px 10px 10px rgba(40, 40, 40, 0.2);
     border-radius: 30px;
     padding-bottom: 20px;
     }
    .productimg {
       width: 100%;
       max-width: 500px;
       height: auto;
       object-fit: cover;
       object-position: center;
       border-top-left-radius: 30px;
       border-top-right-radius: 30px;
       margin-bottom: 20px;
      }
     .productext {
       font-family: Quicksand;
       max-width: 470px;
       text-align: center;
       margin-right: 15px;
       margin-left: 15px;
       font-size: 3vw;
      }
      .vermas {
       display: flex;
       justify-content: center; 
       align-items: center;
       height: 100%;
       margin: 0px;
       }
       .botonvermas {
         font-family: Quicksand;
         font-size: 3vw;
         background-color: rgb(241, 238, 231);
         color: #333;
         height: 7vw;
         width: 300px;
         cursor: pointer;
         margin-top: 30px;
        }
/*--------------------------------*/

/* PREMIOS */
.testimoniocontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 40px;
  justify-content: space-around;
 }

h5{
   font-size: 3vw;
   }
   .testi{
    display: grid;
    grid-template-columns: 3fr 1fr; 
    border-radius: 25px;
    height: 170px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 10px 10px 10px rgba(40, 40, 40, 0.2);
    padding: 10px;
    grid-gap: 10px;
   }
  .testimage{
    max-width: 100%;
    max-height: 100%;
    border-radius: 80px;
    box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.2);
   }
  .testitext{
    text-align: right;
    align-self: center;
    font-size: 14px;
   }
  ul {
    list-style-type: none;
    justify-self: center;
    margin-right: 10px;
   }

/* FOOTER */
footer {  
font-family: Quicksand;
display:grid;
grid-template-columns: 1fr 1fr 1fr;
background-color: #000000;
padding: 20px;
grid-gap: 40px;
}
.footmenu {
display: grid;
justify-content: center;
justify-items: center;
margin-right: 10px;}

.foothelp{
    margin-right: 20px;}

.footcontact {
display: grid;
grid-template-rows: 1fr 0.2fr 1fr;
grid-gap: 10px;
padding-top: 1px;
margin-left: 15px;
}

.rrss {
display: grid;
grid-template-columns: 0.15fr 0.15fr 0.15fr;
justify-content: left;
gap: 15px;
}
.rrssico {
  display: grid;
  width: 4vw;
  height: auto;
  object-fit: cover;}

}


